<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div id="flightsShow">
    <section id="show-page">
        <div>Airline: <%= flight.airline %> </div><br>
        <div>Airport: <%= flight.airport %></div><br>
        <div>Flight Number: <%= flight.flightNo %></div><br>
        <div>Departure: <%= flight.departs %></div><br>
        <div>Destination: <%- flight.destination.map((d) => `<li> ${d.destination} </li>` ).join('') %></div><br>
        <form id="add-destination-to-airport" action="/flights/<%= flight._id %>/destinations" method="POST">
            <select name="destination">
                <%- destinations.map((d) => `<option value="${d._id}">${d.destination}</option>`) %>
            </select>
            <button type="submit" class="btn btn-outline-warning">Add Destination</button>
        </form><br>
    </section>
    <br><br>
    <h2>Tickets</h2>
    <form id="add-ticket-form" method="POST" action="/flights/<%= flight._id %>/tickets">
        <label>Seat:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?" oninput="this.value = this.value.toUpperCase()"
            placeholder="A1 - F99" maxlength="3">
        <label>Price:</label>
        <input type="text" name='price' placeholder="$">
        <input type="submit" value="Add Ticket" class="btn btn-outline-success">
    </form>

    <% if (flight.tickets.length) { %>
    <table class="table" id="ticketTable">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Seat</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% flight.tickets.forEach(function(t) { %>
            <tr>
                <td><%= t.createdAt.toLocaleDateString() %></td>
                <td><%= t.seat %></td>
                <td>$<%= t.price %></td>
                <td>
                    <form action="/<%= t._id %>/<%= flight._id%>?_method=DELETE" class='delete-form' method="POST">
                        <button type="submit" class="btn btn-outline-danger btn-sm">X</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
        <% } else { %>
            <h5>No Tickets Yet</h5>
            <% } %>
    </table>
</div>

<%- include('../partials/footer') %>